<h1>SmsNotifier Actions</h1>

<div class="sms-buttons">
    <%= link_to 'New User Signup', sms_notifier_user_signup_path %>
    <%= link_to 'User Action', sms_notifier_user_action_path %>
    <%= link_to 'Application State Change', sms_notifier_application_state_path %>
</div>